<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {#<script src="{{ asset('bundles/sandbox/lib/node_modules/socket.io-client/socket.io.js') }}"></script>#}
    {#<script>#}
        {#var socket = io.connect('http://localhost:3000');#}
        {#//socket.on('news', function (data) {#}
        {#{% if securityInf != false %}#}
        {#&#123;&#35;{{ dump(securityInf |json_encode() ) }}&#35;&#125;#}

        {#socket.emit('newClient', {"security": {{ securityInf | json_encode|raw }} }  );#}
        {#{% endif %}#}
        {#// });#}
    {#</script>#}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {#{{ dump(output) }}#}
    {{ form(form) }}
{#<script>#}
    {#socket.on('notification', function (data) {#}
        {#alert(data);#}
    {#});#}
    {#socket.on('newClient', function (data) {#}
        {#alert(data);#}
    {#});#}
{#</script>#}
{% endblock %}
</body>
</html>
